
stages:
  - lint
  - build
  - test
  - publish



Lint:
  stage: lint
  script:
    - mvn validate generate-resources verify
    - mvn frontend:npm -Darguments="run lint"
  tags:
    - build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success


Build:
  stage: build
  script:
    - mvn clean install -DskipTests
  tags:
    - build
  rules:
    - when: on_success



UnitTest:
  stage: test
  script:
    - mvn clean test
  tags:
    - build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success



SnapshotPublish:
  stage: publish
  script:
    - mvn clean deploy -DskipTests
  tags:
    - build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success



  