include:
  - local: deploy.yml


variables:
  DEV_HOSTNAME: 10.71.14.3
  DEV_DIR: "/space/devopswithprashant/ui/dev"
  QA_HOSTNAME: 10.71.14.3
  QA_DIR: "/space/devopswithprashant/ui/qa"
  STAGE_HOSTNAME: 10.71.14.3
  STAGE_DIR: "/space/devopswithprashant/ui/stage"
  PROD_HOSTNAME: 10.251.15.1 
  PROD_DIR: "/space/devopswithprashant/ui/blog"
  artifactoryHostname: "52.200.234.237:8082"




stages:
  - lint
  - build
  - test
  - publish
  - release
  - nonprod
  - prod



Lint:
  stage: lint
  script:
    - mvn validate generate-resources verify
    - mvn frontend:npm -Darguments="run lint"
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success


Build:
  stage: build
  script:
    - mvn clean install -DskipTests
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - when: on_success



UnitTest:
  stage: test
  script:
    - mvn clean test
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success



SnapshotPublish:
  stage: publish
  script:
    - mvn clean deploy -DskipTests
    - PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
    - echo "artifactVERSION=${PROJECT_VERSION}" > Versionvar.env
  artifacts:
    reports:
      dotenv: Versionvar.env
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success




TagCreate:
  stage: release
  script:
    - echo "Releasing Steps.."
    - git config user.email "devopswithprashant@gmail.com"
    - git config user.name "devopswithprashant"

    - git checkout -B $CI_COMMIT_REF_NAME origin/$CI_COMMIT_REF_NAME  # Fixes detached HEAD
    - git pull origin $CI_COMMIT_REF_NAME  # Ensure the branch is up-to-date

    - PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-SNAPSHOT//')
    - ReleaseTagName="v${PROJECT_VERSION}"

    - mvn release:clean
    - mvn release:prepare -DreleaseVersion=${PROJECT_VERSION} -Dtag=${ReleaseTagName} -Dusername=devopswithprashant -Dpassword=${GITLAB_TOKEN} -Darguments=-DskipTests -B
    #- mvn release:perform -Dusername=devopswithprashant -Dpassword=${GITLAB_TOKEN} -Darguments=-DskipTests -B
    - git config --unset user.email
    - git config --unset user.name
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: on_success
    - when: never




TagPublish:
  stage: release
  script:
    - mvn clean deploy -DskipTests
    - PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
    - echo "artifactVERSION=${PROJECT_VERSION}" > Versionvar.env
  artifacts:
    reports:
      dotenv: Versionvar.env
  only:
    - tags
  tags:
    - build
  







DEV:Deploy:
  stage: nonprod
  script:
    - !reference [.deploy, script]
  variables:
    deployEnvironment: "DEV"
    artifactVersion: ${artifactVERSION}
    TARGET_HOSTNAME: ${DEV_HOSTNAME}
    TARGET_DIR: ${DEV_DIR}
  environment:
    name: DEV
    url: https://dev.devopswithprashant.com
  rules:
    - if: '$CI_COMMIT_BRANCH && $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - when: on_success
  tags:
    - nonprod



QA:Deploy:
  stage: nonprod
  script:
    - !reference [.deploy, script]
  variables:
    deployEnvironment: "QA"
    artifactVersion: ${artifactVERSION}
    TARGET_HOSTNAME: ${QA_HOSTNAME}
    TARGET_DIR: ${QA_DIR}
  environment:
    name: QA
    url: https://qa.devopswithprashant.com
  rules:
    - if: '$CI_COMMIT_BRANCH && $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - when: on_success
  tags:
    - nonprod



STAGE:Deploy:
  stage: nonprod
  script:
    - !reference [.deploy, script]
  variables:
    deployEnvironment: "STAGE"
    artifactVersion: ${artifactVERSION}
    TARGET_HOSTNAME: ${STAGE_HOSTNAME}
    TARGET_DIR: ${STAGE_DIR}
  environment:
    name: STAGE
    url: https://stage.devopswithprashant.com
  rules:
    - if: '$CI_COMMIT_BRANCH && $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - when: manual
  tags:
    - nonprod




PROD:Deploy:
  stage: prod
  when: manual
  script:
    - !reference [.deploy, script]
  variables:
    deployEnvironment: "PROD"
    artifactVersion: ${artifactVERSION}
    TARGET_HOSTNAME: ${PROD_HOSTNAME}
    TARGET_DIR: ${PROD_DIR}
  environment:
    name: PROD
    url: https://devopswithprashant.com
  only:
    - tags
  tags:
    - prod


