include:
  - local: deploy.yml


variables:
  DEV_HOSTNAME: 10.71.14.3
  DEV_DIR: "/space/devopswithprashant/ui/dev"
  artifactoryHostname: "54.174.127.243:8082"




stages:
  - lint
  - build
  - test
  - publish
  - release
  - nonprod



Lint:
  stage: lint
  script:
    - mvn validate generate-resources verify
    - mvn frontend:npm -Darguments="run lint"
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success


Build:
  stage: build
  script:
    - mvn clean install -DskipTests
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - when: on_success



UnitTest:
  stage: test
  script:
    - mvn clean test
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success



SnapshotPublish:
  stage: publish
  script:
    - mvn clean deploy -DskipTests
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success




TagCreate:
  stage: release
  script:
    - echo "Releasing Steps.."
    - git config user.email "devopswithprashant@gmail.com"
    - git config user.name "devopswithprashant"

    - git checkout -B $CI_COMMIT_REF_NAME origin/$CI_COMMIT_REF_NAME  # Fixes detached HEAD
    - git pull origin $CI_COMMIT_REF_NAME  # Ensure the branch is up-to-date

    - PROJECT_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout | sed 's/-SNAPSHOT//')
    - ReleaseTagName="v${PROJECT_VERSION}"

    - mvn release:clean
    - mvn release:prepare -DreleaseVersion=${PROJECT_VERSION} -Dtag=${ReleaseTagName} -Dusername=devopswithprashant -Dpassword=${GITLAB_TOKEN} -Darguments=-DskipTests -B
    #- mvn release:perform -Dusername=devopswithprashant -Dpassword=${GITLAB_TOKEN} -Darguments=-DskipTests -B
    - git config --unset user.email
    - git config --unset user.name
  tags:
    - build
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: on_success
    - when: never




TagPublish:
  stage: release
  script:
    - mvn clean deploy -DskipTests
  only:
    - tags
  tags:
    - build
  







DEV:Deploy:
  stage: nonprod
  extends: deploy
  variables:
    deployEnvironment: "DEV"
    artifactVersion: ${artifactVERSION}
    TARGET_HOSTNAME: ${DEV_HOSTNAME}
    TARGET_DIR: ${DEV_DIR}
  environment:
    name: DEV
    url: https://dev.devopswithprashant.com
  rules:
    # - if: $CI_COMMIT_MESSAGE =~ /\[maven-release-plugin\] prepare (release|for next development iteration)/
    #   when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - when: on_success
  tags:
    - nonprod


