image: maven:3.9.9-eclipse-temurin-11

stages:
  - lint
  - build
  - test
  - publish
  #- release
  #- deploy


cache:
  paths:
    - node_modules/
    - .m2/repository

Lint:
  stage: lint
  # before_script:
  #   - !reference [.setSettings, script]
  script:
    - mvn validate generate-resources verify
    - mvn frontend:npm -Darguments="run lint"


Build:
  stage: build
  # before_script:
  #   - !reference [.setSettings, script]
  script:
    - mvn clean install -DskipTests
  # after_script:
  #   - ls 
  # artifacts:
  #   paths:
  #     - build/
  #     - target/


UnitTest:
  stage: test
  # before_script:
  #   - !reference [.setSettings, script]
  script:
    - mvn clean test
  # artifacts:
  #   paths:
  #     - coverage/


SnapshotPublish:
  stage: publish
  before_script:
    - !reference [.setSettings, script]
  script:
    - mvn clean deploy -DskipTests
  only:
    - branches
  # when:
  #   if: $CI_COMMIT_MESSAGE != [maven-release-plugin]*
  



# release:
#   stage: release
#   script:
#     - mvn release:prepare release:perform -B
#   only:
#     - tags

# releasePublish:
#   stage: deploy
#   script:
#     - echo "Deploying to NGINX server or S3..."
#     - rsync -avz build/ user@your-server:/var/www/blog-frontend/
#     # OR for AWS S3:
#     # - aws s3 sync build/ s3://your-bucket-name --delete
#   only:
#     - tags


.setSettings:
  script:
    - user=root
    - mkdir -p /home/$user/.m2
    - cp settings.xml /home/$user/.m2/settings.xml
    
  
