<settings>
  <servers>
    <server>
      <id>myreleaserepo</id>
      <username>${env.JFROG_RELEASE_USER}</username>
      <password>${env.JFROG_RELEASE_PASS}</password>
    </server>
    <server>
      <id>mysnapshotrepo</id>
      <username>${env.JFROG_SNAPSHOT_USER}</username>
      <password>${env.JFROG_SNAPSHOT_PASS}</password>
    </server>
  </servers>
</settings>