# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Build

on:
  push:
  workflow_dispatch:
  #release:
    #types: [created]

permissions:
  contents: read
  id-token: write 



concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false






env:
  ARTIFACTORY_DEV_USER: ${{ secrets.ARTIFACTORY_DEV_USER }}
  ARTIFACTORY_DEV_KEY: ${{ secrets.ARTIFACTORY_DEV_KEY }}
  ARTIFACTORY_RELEASE_USER: ${{ secrets.ARTIFACTORY_RELEASE_USER }}
  ARTIFACTORY_RELEASE_KEY: ${{ secrets.ARTIFACTORY_RELEASE_KEY }}
  # Set defaults here or as repository/organization variables (recommended)
  AWS_REGION: us-east-1           # <- change to your region or set as repo variable
  AWS_ACCOUNT_ID: 850756192530      # <- change to your AWS account id or set as repo var
  ECR_REPOSITORY: dwp/np/ui            # <- change to your ECR repository name
  GIT_USER_NAME: "ci-bot"
  GIT_USER_EMAIL: "ci-bot@devopswithprashant.com"




jobs:
  maven:
    runs-on: ubuntu-latest
    outputs:
      projectVersion: ${{ steps.project_version.outputs.version }}
    steps:

    - name: Setup Maven Action
      uses: s4u/setup-maven-action@v1.19.0
      with:
          java-version: 17
          java-distribution: 'temurin'
          maven-version: 3.9.11
          settings-servers: |
            [{
              "id": "myreleaserepo",
              "username": "${env.ARTIFACTORY_RELEASE_USER}",
              "password": "${env.ARTIFACTORY_RELEASE_KEY}"
            },
            {
              "id": "mysnapshotrepo",
              "username": "${env.ARTIFACTORY_DEV_USER}",
              "password": "${env.ARTIFACTORY_DEV_KEY}"
            }]
    
    - name: Get project version from POM
      id: project_version
      run: |
        VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    
    - name: Lint
      run: |
        mvn validate generate-resources verify
        mvn frontend:npm -Darguments="run lint"

    - name: Build
      run: |
        mvn clean package --file pom.xml -DskipTests -B
        ls -la target/
    
    - name: Upload build artifact (target/)
      uses: actions/upload-artifact@v4
      with:
        name: build-target
        # upload whole target directory. Use a glob if you prefer only jar files (target/*.jar)
        path: target/*

    - name: Test
      run: mvn clean test 
    
    #- name: Publish
      #run: mvn clean deploy --file pom.xml -DskipTests -B


  # docker:
  #   runs-on: ubuntu-latest
  #   needs: maven
  #   steps:
  #     - name: Checkout repo
  #       uses: actions/checkout@v4

  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v5
  #       with:
  #         role-to-assume: ${{ secrets.AWS_ECR_NONPROD_PUSH_ROLE }}  # or use a secret: ${{ secrets.AWS_ROLE_TO_ASSUME }}
  #         role-session-name: GitHubActionsECR
  #         aws-region: ${{ env.AWS_REGION }}

  #     - name: Log in to Amazon ECR
  #       uses: aws-actions/amazon-ecr-login@v2
  #       # amazon-ecr-login uses current AWS credentials and logs docker to ECR

  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v3

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v3
      
  #     # in docker job (download step)
  #     - name: Download build artifact (target/)
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: build-target
  #         path: target     # <--- downloads artifact contents into ./target

  #     - name: Build and push to ECR
  #       uses: docker/build-push-action@v6
  #       with:
  #         context: .
  #         file: ./Dockerfile
  #         push: true
  #         platforms: linux/amd64,linux/arm64
  #         tags: |
  #           ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:latest
  #           ${{ env.AWS_ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_REPOSITORY }}:${{ needs.maven.outputs.projectVersion }}-${{ github.sha }}
  #         # Optional: use GitHub Actions cache for build layers (fast incremental builds)
  #         cache-from: type=gha
  #         cache-to: type=gha,mode=max

  
  # deploy-DEV:
  #   needs: [maven, docker]
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       shell: bash
  #   steps:
  #   # Checkout the repository to the GitHub Actions runner
  #     - name: Checkout gitops repo
  #       uses: actions/checkout@v4
  #       with:
  #         repository: "devopswithprashant/k8-blogApp"
  #         token: ${{ secrets.GHEC_TOKEN_K8 }}
  #         ref: ${{ github.ref }}
  #         fetch-depth: 10

  #     - name: Update image tag in target file
  #       #working-directory: gitops
  #       id: update
  #       env:
  #         FILE: "apps/blog/dev/backend/blog-deployment.yaml"
  #         IMAGE: "850756192530.dkr.ecr.us-east-1.amazonaws.com/dwp/np/blog"
  #         NEW_TAG: ${{ needs.maven.outputs.projectVersion }}-${{ github.sha }}
  #       run: |
  #         set -euo pipefail
  #         if [ ! -f "$FILE" ]; then
  #           echo "ERROR target file not found: $FILE"
  #           exit 1
  #         fi
  #         sed -i -E "s|(image:\s*850756192530\.dkr\.ecr\.us-east-1\.amazonaws\.com/dwp/np/blog:)[^[:space:]]+|\1${NEW_TAG}|" "$FILE"
  #         # Git config
  #         git config user.name "${GIT_USER_NAME}"
  #         git config user.email "${GIT_USER_EMAIL}"
  #         # Check if file actually changed before committing
  #         if git diff --quiet -- "$FILE"; then
  #           echo "✅ No changes detected in $FILE — skipping commit & push."
  #           exit 0
  #         fi
  #         git add "$FILE"
  #         if git diff --cached --quiet; then
  #           echo "✅ Nothing new to commit — skipping push."
  #           exit 0
  #         fi
  #         git commit -m "chore(DEV): bump new version ${NEW_TAG} of blog image ${IMAGE}"
  #         git push origin ${{ github.ref }}

      
  