# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: PR build check

on: pull_request


permissions:
  contents: read
  id-token: write 



concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false



env:
  ARTIFACTORY_DEV_USER: ${{ secrets.ARTIFACTORY_DEV_USER }}
  ARTIFACTORY_DEV_KEY: ${{ secrets.ARTIFACTORY_DEV_KEY }}
  ARTIFACTORY_RELEASE_USER: ${{ secrets.ARTIFACTORY_RELEASE_USER }}
  ARTIFACTORY_RELEASE_KEY: ${{ secrets.ARTIFACTORY_RELEASE_KEY }}
  # Set defaults here or as repository/organization variables (recommended)
  AWS_REGION: us-east-1           # <- change to your region or set as repo variable
  AWS_ACCOUNT_ID: 850756192530      # <- change to your AWS account id or set as repo var
  ECR_REPOSITORY: dwp/np/ui            # <- change to your ECR repository name
  GIT_USER_NAME: "ci-bot"
  GIT_USER_EMAIL: "ci-bot@devopswithprashant.com"




jobs:
  maven:
    runs-on: ubuntu-latest
    outputs:
      projectVersion: ${{ steps.project_version.outputs.version }}
    steps:

    - name: Setup Maven Action
      uses: s4u/setup-maven-action@v1.19.0
      with:
          java-version: 17
          java-distribution: 'temurin'
          maven-version: 3.9.11
          settings-servers: |
            [{
              "id": "myreleaserepo",
              "username": "${env.ARTIFACTORY_RELEASE_USER}",
              "password": "${env.ARTIFACTORY_RELEASE_KEY}"
            },
            {
              "id": "mysnapshotrepo",
              "username": "${env.ARTIFACTORY_DEV_USER}",
              "password": "${env.ARTIFACTORY_DEV_KEY}"
            }]
    
    - name: Get project version from POM
      id: project_version
      run: |
        VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    
    - name: Lint
      run: |
        mvn validate generate-resources verify
        mvn frontend:npm -Darguments="run lint"

    - name: Build
      run: |
        mvn clean package --file pom.xml -DskipTests -B
        ls -la target/
  
    - name: Test
      run: mvn clean test 

